.filter-container {
    width: 1300px;
    background-color:#181920;
    height: 400px;
    padding: 20px;
    margin: 100px auto;
}
.card-wrapper-product {
    flex-wrap: wrap;
}
.card-product{
    margin-top: 30px;
}