[data-theme ='ligth']{
    --bg-color: white;
    --text-color:#414558;
    --btn-bg-color:#057AFF;

    
 }
.hero-container {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    width: 100vw;
}
.text-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}
h1 {
    color:var(--text-color);
    font-size: 72px;
}
p {
    color:var(--text-color);
    font-size: 24px;
    line-height: 40px;

}
button {
    padding: 20px ;
    background: var(--btn-bg-color);
    border: none;
    border-radius: 15px;
    font-weight: 700;
    width: 150px;
    color: var(--bg-color);
}

